.filter {
  width: 100%;

  input {
    width: 100%;
    margin: 0.75rem 0;
    padding: 0.5rem;
    border: none;
    border-radius: 10px;
    margin-right: 0.5rem;
  }

  .btn {
    width: 25%;
  }
  .cancel-btn {
    background-color: #7c2424;
    color: #f4f4f4;
    margin-left: 0.5rem;
    &:hover {
      background-color: rgb(124, 36, 36, 0.8);
    }
  }
}
