<section class="container flex-center">
  <div class="wrapper flex-center">
    <h1>Music Top Songs</h1>
    <div class="top-wrapper">
      <app-filter></app-filter>
      <app-songs-list [songs]="songs"></app-songs-list>
    </div>
    <div class="form-wrapper">
      <button
        *ngIf="showBtn"
        class="flex-center add-btn"
        (click)="onToggleForm()"
      >
        <fa-icon [icon]="faSquarePlus" size="2x" class="add-icon"></fa-icon>
        <span>Add new song</span>
      </button>
      <button
        *ngIf="!showBtn"
        class="flex-center hide-btn"
        (click)="onToggleForm()"
      >
        <fa-icon [icon]="faXmarkCircle" size="2x" class="hide-icon"></fa-icon>
        <span>Close form</span>
      </button>
      <app-form *ngIf="showForm"></app-form>
    </div>
  </div>
</section>
