<form
  id="add-form"
  class="add-form"
  [formGroup]="songForm"
  (ngSubmit)="onSubmit()"
>
  <input
    type="text"
    name="song"
    id="song"
    placeholder="Song name"
    formControlName="song"
  />
  <div
    *ngIf="!songForm.get('song').valid && songForm.get('song').touched"
    class="error"
  >
    *Please enter the song title
  </div>
  <input
    type="text"
    name="artist"
    id="artist"
    placeholder="Artist"
    formControlName="artist"
  />
  <div
    *ngIf="!songForm.get('artist').valid && songForm.get('artist').touched"
    class="error"
  >
    *Please enter the artist or band name
  </div>
  <app-button
    type="submit"
    [btnClasses]="['btn', 'add-btn']"
    [buttonText]="btnText"
    [isDisabled]="!songForm.valid"
  ></app-button>
</form>
